<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Users</title>
</head>
<body>
    <header>
        <h1>Users</h1>
        <nav>
            <a href="/user">Main page</a>
            {% if login %}
            <a class="login_btn" href="/">Log out</a>
            <span>{{ login }}</span>
            {% else %}
            <a class="login_btn" href="/login">Log in</a>
            <span>You</span>
            {% endif %}
        </nav>
    </header>
    <div class="all_users_div">
        {% for user in users_list %}
        <div class="user_div">
            <img src="{{ user[4] }}">
            <p>{{ user[0] }} {{ user[1] }}</p>
            <p>Age: {{ user[2] }}</p>
            <p>Town: {{ user[3] }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>