body {
    background: rgb(32, 10, 56);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

header {
    margin-bottom: 30px;
    padding: 10px;
    color: #dfb40a;
    background: #400b79;
}

h1 {
    text-align: center;
    color: #dfb40a;
}

h1, h2, h3 {
    text-align: center;
}

p, label, span, h2, h3 {
    color: #9129ff;
}

header span {
    margin-bottom: 30px;
    padding: 20px;
    font-size: 30px;
    color: #dfb40a;
}

a {
    margin: 20px;
    padding: 5px;
    color: #dfb40a;
    background-color: #9129ff;
    border: 2px solid #9129ff;
    border-radius: 20px;
    text-decoration: none;
}

a:hover {
    color: #9129ff;
    background-color: #dfb40a;
    border: 2px solid #dfb40a;
}

img {
    width: 300px;
    height: 300px;
    border: 3px solid #9129ff;
    border-radius: 30px;
}

.login_btn {
    margin: 20px;
    text-align: right;
}

div {
    padding: 20px;
    margin: 10px;
    text-align: center;
    background: #0c0217;
    border: 2px solid #9129ff;
    border-radius: 20px;
}

.register_div {
    display: grid;
    justify-content: center;
    /* text-align: left; */
    margin-left: 35%;
    margin-right: 35%;
}

.register_div nav {
    display: flex;
    justify-content: center;
}

.all_users_div {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
}

.messages_div {
    overflow: auto;
    width: 60%;
    height: 600px;
    margin-left: 20%;
    margin-right: 20%;
}

.msg_to_user_div {
    margin-left: 70%;
}

.msg_from_user_div {
    margin-right: 70%;
}

.msg_user_text {
    overflow-wrap: break-word;
    text-align: left;
}

.msg_user_date {
    font-size: 15px;
    text-align: right;
    color: #7e619c;
}

.write_message_div {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
}

.send_message {
    margin-left: 0%;
    margin-right: 0%;
}

.user_div {
    text-align: left;
    display: inline-block;
}

button {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #dfb40a;
    background-color: #9129ff;
    border: 2px solid #9129ff;
    border-radius: 20px;
}

button:hover {
    color: #9129ff;
    background-color: #dfb40a;
    border: 2px solid #dfb40a;
}

form {
    display: grid;
    justify-content: center;
}

input {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0c0217;
    color: #9129ff;
    border: 3px solid #9129ff;
    border-radius: 20px;
}

input[type="text"] {
    size: 70%;
}

input[type="password"] {
    size: 70%;
}

input[type="submit"] {
    margin-top: 5%;
    padding: 2%;
    font-size: 20px;
    color: #dfb40a;
    background-color: #9129ff;
    border: 2px solid #9129ff;
    border-radius: 20px;
}

input[type="submit"]:hover {
    color: #9129ff;
    background-color: #dfb40a;
    border: 2px solid #dfb40a;
}

.login {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
}