<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Главная страница</title>
</head>
<body>
    <header>
        <h1>Главная страница</h1>
        <nav>
            <a href="/users">Пользователи</a>
            <a class="login_btn" href="/login">Войти</a>
            <span>Вы</span>
        </nav>
    </header>
    <div>
        <h2>Привет всем!</h2>
        <p>
            Это главная страница сайта. На этом сайте можно писать сообщения другим пользователям, для этого нужно зарегистрироваться или войти в аккаунт.
        </p>
    </div>
</body>
</html>