<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Log in</title>
</head>
<body>
    <h1>Log in</h1>
    <div class="register_div">
        <!-- <div class="in_reg_div"> -->
            <form method="POST" action="/login">
                <label for="fname">Login:</label>
                <input type="text" maxlength="25" name="login">
                
                <label for="password">Password:</label>
                <input type="password" maxlength="25" name="password">
        
                <input class="login" type="submit" value="Log in">
            </form>
            <span>{{ error }}</span><br>
        <!-- </div> -->
        <nav>
            <a href="/registration">Register</a>
            <a href="/">Cancel</a>
        </nav>
    </div>
</body>
</html>