<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>{{ user_list[0][1] }} {{ user_list[0][2] }}</title>
    </head>
    <body>
        <header>
            <h1>{{ user_list[0][1] }} {{ user_list[0][2] }}</h1>
            <nav>
                <a href="/users">Пользователи</a>
                <a class="login_btn" href="/">Выйти</a>
                <span>{{ login }}</span>
            </nav>
        </header>
        <div>
            <img src="{{ user_list[0][5] }}">
            <p>{{ user_list[0][1] }} {{ user_list[0][2] }}</p>
            <p>Возраст: {{ user_list[0][3] }}</p>
            <p>Город: {{ user_list[0][4] }}</p><br>
            <h2>Оповещения</h2>
            {% if notice %}
                <p>У Вас есть непрочитанные сообщения от:</p>    
            {% for n in notice %}
                <div class="notice_div">
                    <div class="user_notice_div">
                        <img class="notice_img" src="{{ n[2] }}">
                        <p>{{n[1]}}</p>
                    </div>
                    <form method="POST" action="/user">
                        <button type="submit" name="chat_btn" class="chat_btn" value="{{ n[0] }}">Чат</button>
                    </form>
                </div>
                {% endfor %}
            {% else %}
                <p>Оповещений нет</p>
            {% endif %}
        </div>
    </body>
</html>